<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">
      <img src="../images/nombre.svg" alt="Gilde Valeria Rodríguez">
    </a>

    <button class="nav-toggle" aria-label="toggle menu">
      <img src="../images/circle.svg" alt="toggle">
    </button>

    <ul class="nav-menu">
      <li><a href="/">Home</a></li>
      <li><a href="/teaching/">Teaching</a></li>
      <li><a href="/teaching/notas/">Roadmap</a></li>
      <li><a href="/teaching/practicas/">Prácticas</a></li>
      <li><a href="/teaching/soluciones/">Teoría</a></li>
    </ul>
  </div>
</nav>