<nav class="navbar">
  <div class="nav-container">
    <a href="/" class="nav-logo">
      <img src="../images/nombre.svg" alt="Gilde Valeria Rodríguez">
    </a>

    <button class="nav-toggle" type="button" aria-label="toggle menu">
      <img src="../images/circle.svg" alt="toggle">
    </button>

    <ul class="nav-menu">
      <li><a href="/#about">About</a></li>
      <li><a href="/#news">News</a></li>
      <li><a href="/#publications">Publications</a></li>
      <li><a href="/#interests">Interests</a></li>
      <li><a href="/#contact">Contact</a></li>
      <li><a href="/teaching/">Teaching</a></li>
    </ul>
  </div>
</nav>